.main {
  width: 392px;
  height: 534px;
  margin: auto;
  background: #f0f0f2;
}

.info {
  color: #999;
  font-size: 14px;
  background: #f0f0f0;
  text-align: center;
  padding: 16px 0;

  span {
    padding: 0 5px;
  }
}
